AUTHORS
LICENSE
Makefile
doc/
specs/
tests/

*.d
*.o
*.ko
*.obj
*.elf

*.out
*.a
*.lib
*.app
*.i*86
*.x86_64
*.hex

*.so
*.so.*
*.dylib
*.dSYM/
*.su
*.idb
*.pdb

cmake*
CMake*

dkms.conf
.DS_Store
.vscode
modules.order
Mkfile.old

.idea


